.main {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 2rem;
}

.content {
  text-align: center;
}

.buttons {
  margin-top: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
