.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #bbc2d3;
  padding: 0.7em 0.5em 0 0.5em;
}

.header ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.header ul a {
  margin-right: 1em;
  color: #0a0711;
  text-decoration: none;
  font-family: "Lemonada", sans-serif;
  padding: 0.5em;
  transition: 0.2s;
}

.header ul a:hover,
.header ul a.active {
  color: #fed224;
  background-color: #8bbed6;
  padding: 0.5em;
  border-radius: 32px;
}

.navbar_logo {
  width: 100px;
}

@media (min-width: 1024px) {
  .header {
    padding: 0.7em 2em 0 2em;
  }
}
